div.yoko {
  /* border:solid;
  margin-left: 20%;
  margin-right: 20%;
  height: 100vw; */
  margin: auto;
  max-width: 500px;
  min-width: 250px;
}

li#menu {
  display: inline;
  list-style: none;
  margin: 10px;
}
li#howto {
  list-style: none;
  text-align: center;
  margin-right: 30px;
}

#mini-pic {
  width: 100px;
}

/* #sashie {
  position: relative;
} */

.wrap_sample {
  position: relative;
  width: 300px;
  height: 200px;
  margin: 0 auto;
  background: #333;
}

.relative_sample {
  position: absolute;
  width: 100%;
  /* height: 50px; */
  background: #f00;
  opacity: 0.95;
}

/* #sashie {
  max-width: 800px;
  min-width: 240px;
  width: 100%;
  margin: 0;
} */

#sashie-m {
  max-width: 400px;
  min-width: 240px;
  width: 100%;
}

.sashie-m {
  max-width: 400px;
  min-width: 240px;
  width: 100%;
}

.uchikeshi {
  text-decoration: line-through;
}

a {
  text-decoration: none;
}

h3 {
  margin: 0;
}

table {
  outline: 1;
  vertical-align: top;
}

th {
  outline: 1;
}

table.border {
  border: solid;
  border-width: 1px;
}

.box {
  max-width: 600px;
  min-width: 250px;
  width: 100%;
  height: 200px;
  border: 1px solid #000;
  overflow-y: scroll;
  margin: 0 auto;
}

.hutoi {
  font-weight: bold;
}

.mannaka {
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 750px) {
  img { max-width: 100%;}
}